{% extends 'chat/layout.html' %}
{% load static %}


{% block title %}
  Welcome
{% endblock %}



{% block body %}

<!--For sliders-->

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static 'images/ironman.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-white">Iron Mam</h3>
        <p class="text-white">Chat with your favorite marvel super hero!</p>
        <a href="/fictional_character/iron_man/" class="btn btn-primary">Chat</a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'images/shifu.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-white">Master Shifu</h3>
        <p class="text-white">Chat with your fevorite cartoon character!</p>
        <a href="/fictional_character/master_shifu/" class="btn btn-primary">Chat</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/einstein.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="text-warning">Albert Einstein</h3>
        <p class="text-white">Chat with youre fevorite genius scientist!</p>
        <a href="/scientists/albert_einstein/" class="btn btn-primary">Chat</a>

      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


  <div class="container">
    <h1 class="my-4">Chat with your favorite movie character.</h1>
    <div class="row">
      {% for character in characters %}
        {% if character.category.slug == 'fictional_character' %}
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="{{ character.image.url }}" class="card-img-top" alt="{{ character.name }}">
              <div class="card-body">
                <h2 class="card-title">{{ character.name }}</h2>
                <p class="card-text">{{ character.description }}</p>
              </div>
              <div class="card-footer">
                <a href="{% url 'chat_with_character' category_slug=character.category.slug character_slug=character.slug %}" class="btn btn-primary">Chat</a>

              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <h1 class="my-4">Chat with your favorite scientists.</h1>
    <div class="row">
      {% for character in characters %}
        {% if character.category.slug == 'scientists' %}
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="{{ character.image.url }}" class="card-img-top" alt="{{ character.name }}">
              <div class="card-body">
                <h2 class="card-title">{{ character.name }}</h2>
                <p class="card-text">{{ character.description }}</p>
              </div>
              <div class="card-footer">
                <a href="{% url 'chat_with_character' category_slug=character.category.slug character_slug=character.slug %}" class="btn btn-primary">Chat</a>

              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <h1 class="my-4">Chat with your favorite activists.</h1>
    <div class="row">
      {% for character in characters %}
        {% if character.category.slug == 'activist' %}
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="{{ character.image.url }}" class="card-img-top" alt="{{ character.name }}">
              <div class="card-body">
                <h2 class="card-title">{{ character.name }}</h2>
                <p class="card-text">{{ character.description }}</p>
              </div>
              <div class="card-footer">
                <a href="{% url 'chat_with_character' category_slug=character.category.slug character_slug=character.slug %}" class="btn btn-primary">Chat</a>

              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
