{% extends 'chat/layout.html' %}

{% block title %}
  Search
{% endblock %}

{% block body %}
  <div class="container">
    {% if characters %}
    <h1 class="my-4">Search result for {{ query }}</h1>
    <div class="row">
      {% for character in characters %}
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="{{ character.image.url }}" class="card-img-top" alt="{{ character.name }}">
              <div class="card-body">
                <h2 class="card-title">{{ character.name }}</h2>
                <p class="card-text">{{ character.description }}</p>
              </div>
              <div class="card-footer">
                <a href="{% url 'chat_with_character' category_slug=character.category.slug character_slug=character.slug %}" class="btn btn-primary">Chat</a>

              </div>
            </div>
          </div>
      {% endfor %}
    </div>
    {% else %}
        <h2> No result Found for {{ query }}
    {% endif %}
  </div>
{% endblock %}
